<%- include('includes/head.ejs', {pageT: 'New Password'}) %>
    <link rel="stylesheet" href="/css/form.css">
</head>
    
<body>
    <%- include('includes/navigations.ejs', {path: '/new-password'}) %>
    <main>
        <h1 class="title">New Password</h1>

        <form  class="form" action="/new-password" method="POST">
            <% if (errorMessage) { %>
                <h3 style="color: red;"> <%= errorMessage %> </h3>     
            <% } %>

            Password:
            <input type="password" name="password" required>
            Confirm Password:
            <input type="password" name="confirm_password" required>
            <input type="hidden" name='_csrf' value="<%= csrfToken %>">
            <input type="hidden" name='userId' value="<%= userId %>">
            <input type="hidden" name='passwordToken' value="<%= passwordResetToken %>">
            <button type="submit">Submit</button>
        </form>
    </main>
        
<%- include('includes/footer.ejs') %>