<%- include('includes/head.ejs', {pageT: 'OTP Verification'}) %>
    
    <link rel="stylesheet" href="/css/signin.css">
</head>
    
    <body>
        <%- include('includes/navigations.ejs', {path: '/otp-verify'}) %>
        <main>
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <!-- Tabs Titles -->
            
                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="/assets/images/books.ico" id="icon" alt="User Icon" />
                    </div>
            
                    <!-- Login Form -->
                    <form action="/otp-varification" method="POST">
                        <p class="fadeIn second">An OTP has sent to you via email.</p>
                        <input type="text" class="fadeIn second" name="otp" placeholder="OTP" required>
                        <input type="hidden" name='name' value="<%= name %>">
                        <input type="hidden" name='email' value="<%= email %>">
                        <input type="hidden" name='password' value="<%= password %>">
                        <input type="submit" class="fadeIn fourth" value="Submit">
                        <% if (errorMessage) { %>
                            <p class="fadeIn fourth" style="color: rgb(243, 36, 36);"><%= errorMessage %></p>
                        <% } %>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
            
            
                </div>
            </div>
        </main>

<%- include('includes/footer.ejs') %>

